body {
  margin: 0;
  background-color: rgba(255, 255, 255, 100);
  font-family: Dutch801, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  position: relative;
  overflow-x: hidden;
}
.divider {
  border-left: solid 2px #000;
  width: 100%;
}
/* #app {
} */

.pointer-mouse {
  cursor: pointer;
}
.nav-link {
  text-decoration: none;
  font-size: 7vw;
  line-height: 105%;
}
.nav-link:hover {
  color: inherit;
}

.nav-footer  {
  font-size: 3vw;
  padding: 15px;
  text-decoration: none;
  line-height: 140%;
}
.nav-footer:hover {
  color: inherit;
}

.nav-link-small {
  font-size: 20px;
  text-decoration: none;
  line-height: 105%;
}
.nav-link-small:hover {
  color: inherit;
}

.nav-link-menu {
  font-size: 60px;
  text-decoration: none;
/*  line-height: 115%;*/
}
.nav-link-menu:hover {
  color: inherit;
}


.subtitle {
  font-size: 48px;
}
::selection {
  color: rgba(255, 255, 255, 100);
  background: #000;
  opacity: 1;
}
a:link,
:visited {
  color: inherit;
  text-decoration: none;
}
.left-align {
  text-align: left;
}
.link-container:hover {
  color:rgba(255, 255, 255, 100)!important;
  background: #000 !important;
}
.text-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 0 25% 0 25%;
}
.headline {
    max-width: 95%;
    font-size: 140px;
    font-weight: 600;
    hyphens: auto;
  line-height: 105%;
}
@media (max-width: 1080px) {
  .headline {
    font-size: 7vw;
  }
  .text-container {
    margin: 0 5% 0 5%;
  }

}

@media (max-width: 844px) {
  .headline {
    font-size: 12vw;
    padding-top: 55px;
  }
  .nav-link {
    font-size: 12vw;
  }
}
.center {
  text-align: center;
}
.english {
  font-style: italic;
  text-align: right;
}
.icelandic {
  -ms-transform: skew(10deg, 0); /* IE 9 */
  -webkit-transform: skew(10deg, 0); /* Safari prior 9.0 */
  transform: skew(10deg, 0); /* Standard syntax */
  text-align: left;
}
.sub-header {
  font-size: 96px;
  font-weight: 600;
  text-align: center;
}
.margin-top {
  margin-top: 10%;
}
.sub-line {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 5%;

}
.theme {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 5%;
  font-style: italic;
  text-align: center;
  
}
.text-body {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  line-height: 115%;
  margin-bottom: 5%;
}
.content-img img {
  width: 674px;
  height: 402px;
}


@font-face {
  font-family: "Rather";
  src: url("/fonts/Rather-SemiBold.woff2") format("woff2"),
    url("/fonts/Rather-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rather";
  src: url("/fonts/Rather-Regular.woff2") format("woff2"),
    url("/fonts/Rather-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Dutch801";
  src: url("/fonts/Dutch801_RomanHeadlineBT.woff2") format("woff2"),
    url("/fonts/Dutch801_RomanHeadlineBT.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}